* {
  box-sizing: border-box;
  font-size: calc(calc(2 / 41 * 1270px) / 4);
  margin: 0;
  padding: 0;
}
.line {
  position: absolute;
  width: 1px;
  background: #add8e6;
  z-index: -1;
  height: calc(2 / 41 * 1270px);
}
.page {
  align-items: flex-start;
  border: #808080 1px solid;
  box-shadow: 5px 5px 5px #c0c0c0, -5px -5px 5px #c0c0c0;
  display: flex;
  height: 1270px;
  left: 50%;
  padding: calc(calc(2 / 41 * 1270px) / 4);
  position: absolute;
  transform: translate(-50%);
  width: calc(0.75609756097560975609756097560976 * 1270px);
}
.column {
  display: inherit;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 1270px;
  width: calc(calc(2 / 41 * 1270px) * 2);
}
.row {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: calc(0.75609756097560975609756097560976 * 1270px);
}
.section {
  align-items: stretch;
  border-right: #add8e6 2px solid;
  display: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(calc(2 / 41 * 1270px) * 2);
  z-index: 1;
}
.section .word-note {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section .character-note {
  display: inherit;
  width: calc(calc(2 / 41 * 1270px) * 2);
  flex-wrap: wrap;
}
.section .word-character-note {
  display: inherit;
  width: calc(calc(2 / 41 * 1270px) );
  flex-wrap: wrap;
}
.section .square {
  border-top: #add8e6 1px solid;
  border-right: #add8e6 1px solid;
  display: inherit;
  height: calc(2 / 41 * 1270px);
  width: calc(2 / 41 * 1270px);
  justify-content: center;
  z-index: 1;
  position: relative;
}
.section .square:before {
  border-top: #add8e6 1px solid;
  content: "";
  margin: 0 auto /* this centers the line to the full width specified */;
  position: absolute /* positioning must be absolute here, and relative positioning must be applied to the parent */;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(2 / 41 * 1270px);
  z-index: -1;
}
.section .square.tittle {
  align-items: center;
  border: none;
  border-top: #fa8072 3px solid;
  border-bottom: #fa8072 3px solid;
  display: inherit;
  height: calc(2 / 41 * 1270px);
  justify-content: start;
  width: 100%;
  position: relative;
  z-index: 1;
}
.section .square.tittle .square {
  z-index: -1;
}
.section .square.tittle h1 {
  font-size: 1.25rem;
  margin-right: 2rem;
  position: absolute;
  text-align: right;
  width: calc(100% - 2rem);
  z-index: 2;
}
.section .square.character {
  align-items: center;
}
.section .square.character p {
  font-size: 2.75vw;
  position: absolute;
  z-index: 1;
}
.section .square.meaning {
  font-size: calc(calc(2 / 41 * 1270px) /2.5);
  align-items: center;
}
.section .square.meaning p {
  font-size: calc(calc(2 / 41 * 1270px) /2.5);
  align-items: center;
}
.section .square.pronunciation {
  font-size: calc(calc(2 / 41 * 1270px) /2);
  z-index: 1;
}
.section .square.pronunciation p {
  font-size: calc(calc(2 / 41 * 1270px) /2);
  z-index: 1;
}
