margin = 3vw
pageWidth  = 'calc(98vw - %s * 2)' %margin
// pageWidth  = 500px
pageHeight = 'calc(1.3225806451612903225806451612903 * %s)' % (pageWidth)
characterSize = 'calc(%s * 2 / 31)'  % pageWidth
fontSize = 'calc(%s / 4)' % characterSize

.indent-space
  & >*
    border: none 
    & >*
      opacity: 0
      height: 0
*
  box-sizing: border-box
  font-size: fontSize
  margin: 0
  padding: 0

body
  font-size: characterSize

ul
  &#pages
    align-items: center
    background-color: white 
    display: flex
    height: 2rem
    justify-content: flex-end
    position: fixed
    top: calc(100% - 2rem)
    width: 100%
    z-index: 5
  & li
    align-items: center
    background-color: salmon 
    border-radius: 50%;
    color: white
    cursor: pointer
    display: inherit 
    font-size: 1rem
    font-weight: bold
    height: 2rem
    justify-content: center
    list-style: none
    margin: 0 1rem 0 1rem
    width: 2rem
    

.page
  align-items: flex-start
  align-self: auto
  border: gray 1px solid 
  box-shadow: 5px 5px 5px silver, -5px -5px 5px silver
  display: flex 
  height: pageHeight
  margin: margin
  padding: 'calc(%s / 4)' % characterSize 
  padding-right: 0
  position: absolute
  width: pageWidth

.column
  display: inherit
  flex-direction: column
  flex-wrap: nowrap
  max-height: pageHeight
  width: 'calc(%s * 2)' % characterSize

.row
  display: inherit
  flex-direction: row
  flex-wrap: nowrap
  max-height: pageWidth

.tittle
  align-items: center
  border: none 
  border-top: salmon  3px solid
  border-bottom: salmon  3px solid
  display: inherit 
  height: characterSize
  justify-content: start
  width: 100%
  position: relative
  z-index: 1
  &:before
    border-top: none 
    width: 100%
  & .square
    z-index: -1
  & h1
    font-size: 1.25rem
    margin-right: 2rem 
    position: absolute
    text-align: right
    width: calc(100% - 2rem)
    z-index: 2

.section
  border-right: lightblue 2px solid 
  display: inherit 
  flex-direction: row 
  flex-wrap: wrap
  width: 'calc(%s * 2)' % characterSize
  z-index: 1
  & .quarter-space
    display: inherit
    flex-direction: row
    flex-wrap: nowrap
    min-width: 'calc(%s)' % characterSize
    height: characterSize

  & .word-note
    // border: lightblue 2px solid
    display: inherit
    flex-direction: row
    flex-wrap: nowrap
    min-width: 'calc(%s)' % characterSize

  & .character-note
    display: inherit
    // height: 'calc(%s * 2)' % characterSize
    
    width: 'calc(%s * 2)' % characterSize
    flex-wrap: wrap
   & .word-character-note
    display: inherit
    // height: 'calc(%s * 2)' % characterSize
    width: 'calc(%s )' % characterSize
    flex-wrap: wrap

  & .square
    border-top: lightblue 1px solid
    border-right: lightblue 1px solid
    display: inherit 
    height: characterSize
    width: characterSize
    justify-content: center
    z-index: 1
    position: relative
    &:before 
        border-top: lightblue 1px solid 
        content:""
        margin: 0 auto /* this centers the line to the full width specified */
        position: absolute /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50% 
        left: 0 
        right: 0 
        bottom: 0
        width: characterSize
        z-index: -1    

    &.character
      align-items: center
      & p
        font-size: 4vw
        position: absolute
        z-index: 1

    &.meaning
      // font-size: 'calc(%s /2.5)' % characterSize
      align-items: center
      & p
        font-size: 'calc(%s /3.25)' % characterSize
        align-items: center
      
    &.pronunciation
      font-size: 'calc(%s /2)' % characterSize
      z-index: 1
      & p
        font-size: 'calc(%s /2)' % characterSize
        z-index: 1

    & .line 
      position: absolute
      width: 1px
      background: lightblue
      z-index: -1
      height: characterSize




  
