.indent-space >* {
  border: none;
}
.indent-space >* >* {
  opacity: 0;
  height: 0;
}
* {
  box-sizing: border-box;
  font-size: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) / 4);
  margin: 0;
  padding: 0;
}
body {
  font-size: calc(calc(98vw - 3vw * 2) * 2 / 31);
}
ul#pages {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 2rem;
  justify-content: flex-end;
  position: fixed;
  top: calc(100% - 2rem);
  width: 100%;
  z-index: 5;
}
ul li {
  align-items: center;
  background-color: #fa8072;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  display: inherit;
  font-size: 1rem;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  list-style: none;
  margin: 0 1rem 0 1rem;
  width: 2rem;
}
.page {
  align-items: flex-start;
  align-self: auto;
  border: #808080 1px solid;
  box-shadow: 5px 5px 5px #c0c0c0, -5px -5px 5px #c0c0c0;
  display: flex;
  height: calc(1.3225806451612903225806451612903 * calc(98vw - 3vw * 2));
  margin: 3vw;
  padding: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) / 4);
  padding-right: 0;
  position: absolute;
  width: calc(98vw - 3vw * 2);
}
.column {
  display: inherit;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: calc(1.3225806451612903225806451612903 * calc(98vw - 3vw * 2));
  width: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) * 2);
}
.row {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: calc(98vw - 3vw * 2);
}
.title {
  align-items: center;
  border: none;
  border-top: #fa8072 3px solid;
  border-bottom: #fa8072 3px solid;
  display: inherit;
  height: calc(calc(98vw - 3vw * 2) * 2 / 31);
  justify-content: start;
  width: 100%;
  position: relative;
  z-index: 1;
}
.title:before {
  border-top: none;
  width: 100%;
}
.title .square {
  z-index: -1;
}
.title h1 {
  font-size: 1.25rem;
  margin-right: 2rem;
  position: absolute;
  text-align: right;
  width: calc(100% - 2rem);
  z-index: 2;
}
.section {
  border-right: #add8e6 2px solid;
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) * 2);
  z-index: 1;
}
.section .quarter-space {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: calc(calc(calc(98vw - 3vw * 2) * 2 / 31));
  height: calc(calc(98vw - 3vw * 2) * 2 / 31);
}
.section .word-note {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: calc(calc(calc(98vw - 3vw * 2) * 2 / 31));
}
.section .character-note {
  display: inherit;
  width: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) * 2);
  flex-wrap: wrap;
}
.section .word-character-note {
  display: inherit;
  width: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) );
  flex-wrap: wrap;
}
.section .square {
  border-top: #add8e6 1px solid;
  border-right: #add8e6 1px solid;
  display: inherit;
  height: calc(calc(98vw - 3vw * 2) * 2 / 31);
  width: calc(calc(98vw - 3vw * 2) * 2 / 31);
  justify-content: center;
  z-index: 1;
  position: relative;
}
.section .square:before {
  border-top: #add8e6 1px solid;
  content: "";
  margin: 0 auto /* this centers the line to the full width specified */;
  position: absolute /* positioning must be absolute here, and relative positioning must be applied to the parent */;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(calc(98vw - 3vw * 2) * 2 / 31);
  z-index: -1;
}
.section .square.character {
  align-items: center;
}
.section .square.character p {
  font-size: 4vw;
  position: absolute;
  z-index: 1;
}
.section .square.meaning {
  align-items: center;
}
.section .square.meaning p {
  font-size: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) /3.25);
  align-items: center;
}
.section .square.pronunciation {
  font-size: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) /2);
  z-index: 1;
}
.section .square.pronunciation p {
  font-size: calc(calc(calc(98vw - 3vw * 2) * 2 / 31) /2);
  z-index: 1;
}
.section .square .line {
  position: absolute;
  width: 1px;
  background: #add8e6;
  z-index: -1;
  height: calc(calc(98vw - 3vw * 2) * 2 / 31);
}
